body {
    font-family: Black Ops One, cursive;
    background-color: tan;
    margin-top: 5em;
}

h1 {
    color: brown;
    font-weight: bold;
    font-size: 90px;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 20px;
}

table{
    border: 5px solid black;
    text-align: center;
    width: 90%;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
}

tr {
    border: 5px solid black;
}

th {
    border: 5px solid black;
    color: brown;
    font-weight: bold;
    text-decoration: underline;
}

td {
    border: 5px solid black;
}

button {
    color: darkolivegreen;
    background-color: lightgray;
    margin-top: 1em;
    margin-left: 10%;
}

