html {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
    background-color: none;
}

.fa {
    margin-top: .60em;
}

.sign-up {
    float: right;
}

.jumbotron {
    background-image: url("pizza.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    display: flex;
    justify-content: center;
    font-size: 3em;
    background-color: white;
    opacity: .75;
}

h2 {
    margin-left: 1em;
}

.badge {
    margin: .5em;
}

h4 {
    background-color: dodgerblue;
    color: white;
    padding: 1em;
}

.card-body {
    /*padding: 0;*/
    /*margin: 0;*/
}

h5 {
    background-color: lightgray;
    margin: 0;
    padding: 1em;
    border-radius: .5em.5em 0 0;
}

h6 {
    border: 2px solid lightgray;
    border-bottom: 1px;
    margin: 0;
    padding: 1em;
}

.radio-box {
    border: 2px solid lightgray;
    margin: 0;
    padding: 1em;
    border-radius: 0 0 .5em .5em;
}

.form-group {
    border: 2px solid lightgray;
    margin: 0;
    padding: 1em;
    border-radius: 0 0 .5em .5em;
}

.navbar {
    margin: 1em;
    padding: 1em;
    justify-content: right;
    background-color: lightgray;
}
.btn {
    background-color: dodgerblue;
    color: white;
}