/* Style for main heading elements */

h1{
    text-align: center;
    color: darkblue;
    text-decoration: underline;
    font-family: Times New Roman, courier, sans-serif;
}

p {
    text-align: center;
    font-size: 1.5em;
}
/* .fancy-header {
    color: purple;
    text-decoration: underline;
}*/

/* Style for heading elements */

h2 {
    color: darkolivegreen;
    text-decoration: underline;
}

/* Style for body elements */

body {
    background-color: lightgrey;
    background-attachment: fixed;
    font-family: Arial, Courier, sans-serif;
    font-size: 1.25em;
}

/*body {
    background-image: url("../img/adult_backpack.jpg");
}*/

/* Style for Lists */

ul {
    list-style: square;
}

ol {
    list-style: upper-roman;
}

/* Style for Tables */

table, th, td {
    font-family: Arial, Courier, sans-serif;
    font-size: 1em;
    border: 1px solid black;
    padding: 15px;
}

/* Style to Anchors */

a:link {
    color: red;
}

a:visited {
    color: black;
}

a:hover {
    color: blue;
    text-decoration: underline;
}

a:active {
    color: green;
}

