html {
    box-sizing: border-box;
}

body {
    font-family: 'Abel', sans-serif;
    margin: 0;
    background-color: #F0F0F0;
}

header {
    background-color: white;
}

.container {
    padding: 0;

}

.bg-gray {
    background-color: #E6E6E6;
}

.mx-auto {
    display: block;
}
.img {
    width: 100%;
}

.img-fluid {
    height: 105px;
    width: 105px;
}



h1, h2, h3, h4, h5, .badge {
    font-family: 'Anton', sans-serif;
}


.badge {
    display: flex;
    justify-content: center;
    border-radius: 50%;
    border: 10px white solid;
    height: 105px;
    width: 105px;
    font-size: large;
    align-items: center;
    color: #FFFFFF;
}

.color-white {
    background-color: #FFFFFF;
}

.color-red {
    background-color: #E6563B;
}

.color-yellow {
    background-color: #EB9D3A;
}

.color-green {
    background-color: #7CB06C;
}

.color-blue {
    background-color: #00ABA9;
}

.badge-small {
    border-radius: 50%;
    height: 18px;
    width: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1px;
    font-size: 9px;
    text-align: center;
}